BSKY_HANDLE=deinname.bsky.social
BSKY_APP_PASSWORD=xxxxxxxxxxxxxxxxxxxxxxxxxxxx

FEED_URL=http://127.0.0.1:8080/dein_x_username/rss
MY_DOMAINS=deine-domain.de
FALLBACK_URL=https://deine-domain.de

DEBUG=0
SANITIZE_DEBUG=0
