[Unit]
Description=X-to-Bluesky Crossposter
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=x2bsky
Group=x2bsky
WorkingDirectory=/opt/x2bsky
Environment=HOME=/var/lib/x2bsky
Environment=XSO_HOME_DIR=/var/lib/x2bsky
Environment=XSO_SCRIPTS_DIR=/opt/x2bsky
Environment=XSO_SCREEN_NAME=GFreiNews
Environment=XSO_MY_DOMAINS=gfrei.news
Environment=XSO_FALLBACK_URL=https://gfrei.news
ExecStart=/opt/x2bsky/.venv/bin/python /opt/x2bsky/x2bsky.py
TimeoutStartSec=45min
Nice=10
IOSchedulingClass=idle
Restart=no

[Install]
WantedBy=multi-user.target
